
.list li {
  font-size: 1.2em;
  padding: 20px 20px 20px 10px;
}

.alert {
  display: none;
  margin: 1em auto;
  font-size: 0.8em;
  width: auto;
  line-height: 1.3em;
  max-width: 300px;
  min-height: 20px;
}

.alert .close {
  z-index: 99;
}

.badge {
  padding-left: 4px;
  padding-right: 4px;
}