---
-
  id: 1
  name: Sixad
  bin: sixad
  commands:
    running:
      stop: sudo service sixad stop
      restart: sudo service sixad stop
    not_running:
      start: sudo service sixad restart
-
  id: 2
  name: MPD
  bin: mpd
  commands:
    running:
      stop: kill -15 %{pid}
    not_running:
      start: mpd