%ul.list
  %li.list-divider
    Services
  - @services.each do |service|
    %li{data: {id: service.id}}

%div.alert.alert-info
  %button.close{type: :button} ×
  %p.alert-message

%script#tmpl-service-info{type: "html/template"}
  {{ if (running) { }}
  %span.badge.badge-success
    %i.icon-white.icon-ok
  {{ } else { }}
  %span.badge.badge-important
    %i.icon-white.icon-remove
  {{ } //end }}
  %strong {{= name }}
  .commands.pull-right

%script#tmpl-service-commands{type: "html/template"}
  %input.btn.btn-default.btn-mini{type: :button, value: "{{= command }}", data: {type: :service_control, service: "{{= id }}", action: "{{= command }}" }}/