.tab-content
  #home.tab-pane.active
    %ul.list.inset
      %li.list-divider
        Services
      - @services.each do |service|
        %li{data: {id: service.id}}

  #settings.tab-pane
    %ul.list.inset
      %li.list-divider Settings
      %li
        Faye:
        %i.icon-remove{data: {id: :"faye-status-icon"}}

%div.alert.alert-info
  %button.close{type: :button} ×
  %p.alert-message

%script#tmpl-service-info{type: "html/template"}
  {{ if (running) { }}

  %strong {{= name }}
  %span.label.label-success Running

  {{ } else { }}
  %strong {{= name }}
  %span.label.label-important Not running
  {{ } //end }}
  .commands.pull-right

%script#tmpl-service-commands{type: "html/template"}
  %input.btn.btn-default.btn-mini{type: :button, value: "{{= command }}", data: {type: :service_control, service: "{{= id }}", action: "{{= command }}" }}/