!!!
%html
  %head
    %title=settings.title
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "Picomin", name: "apple-mobile-web-app-title"}/

    = css :app

  %body
    %header.bar-title
      %h1.title=settings.title
    .content
      = yield

    = js :vendor
    = js :app
