!!!
%html
  %head
    %title=settings.title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = css :app

  %body
    %header.bar-title
      %h1.title=settings.title
    .content
      = yield

    = js :vendor
    = js :app
